@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    /* background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);; */
}
.container{
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;

}
.nav{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;  /*can be removed*/
    
}
.logo{
    /* color: #55034a; */
    font-size: 22px; /*24px*/
    font-weight: 300;
    color: #fff;
}
.links a{
    display: inline-block;
    text-decoration: none;
    font-size: 22px;
    font-weight: 300;
    /* color: #55034a; */
    color: #fff;
    padding: 0px 10px;
    border-bottom: 1px solid transparent;
    transition: border .3s ease;
}
.links a:hover{
    border-bottom-color:#fff;
}
.header{
    width: 100%;
    height: 100vh;
    /* background-image: url("https://images.hdqwalls.com/wallpapers/shadow-of-the-colossus-2018-ps4-6w.jpg"); */
    background-image: linear-gradient(to right, rgba(67, 67, 67, 0.226) 0%, rgba(0, 0, 0, 0.404) 100%), url("https://images.hdqwalls.com/wallpapers/shadow-of-the-colossus-2018-ps4-6w.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero{
    color: #fff;
    width: 100%;
    height: calc(100vh - 70px);
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
}
.hero-title{
    grid-column: 5/8;
    font-size: 56px;
    font-weight: 300;
    
}

.hero-copy{
    grid-column: 5/8;
    align-self: end;
    font-size: 22px;
    font-weight: 300;
}

.hero-ps4{
    grid-column: 5/6;
    align-self: center;
    font-size: 16px;
    border: 1px solid #fff;
    text-align: center;
    margin-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
}

.hero-prices{
    grid-column: 5/6;
    align-self:end;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.hero-price1{
    width: 70%;
    font-size: 30px;

}
.hero-price2{
    width: 30%;
    align-self: end;
    font-size: 24px;
    color: rgb(224, 224, 224);
    text-decoration: line-through ;
}

/* .hero-price{
    grid-column: 5/8;
    align-self: end;
    font-size: 27px;
} */

.hero-cta{
    grid-column: 5/8;
    grid-row: 6/7;
    justify-self: center;
    align-self: start;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    display: inline-block;
    background: #fc551d;
    padding: 10px 70px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px  rgb(0, 0, 0 ,5);
    transform: scale(1);
    transition: transform 0.7s;
}
.hero-cta:hover{
    box-shadow: 10px 10px 10px  rgb(0, 0, 0 ,10);
    transform: scale(1.1);
    cursor: pointer;

}
.hero-t{
    grid-column: 1/3;
    grid-row: 7/8;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.hero-t-p{
    width: 70%;
    align-self: center;
    font-weight: 300;
}





.grid-cont{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    text-align: center;
    color: #55034a;
}


.bout-top{
    grid-column: 4/10;
    grid-row: 2/3;
    font-weight: 300;
    
}
.bout-middle{
    grid-column: 4/10;
    grid-row: 3/4;
    font-weight: 300;
    font-size: 22px;
    
    

}
.bout-bottom{
    grid-column: 4/10;
    grid-row: 4/5;
    font-weight: 300;
    font-size: 22px;
    
}
